{% extends 'base.html' %}

{% block content %}
<h2>Home</h2>

{% for message in messages %}
<div class="container">
    <h4><img src="{{message['image_url']}}">{{message['username']}} (age {{message['age']}})</h4>
    {{message['message']|safe}}
    <p><span class="time-right">{{message['created_at']}}</span></p>
    {% if message['username']==username %}
    <form action="/delete_message" method="post" style="display: inline-block;">
        <input type="hidden" value="{{message['id']}}" name="message_id">
        <input type="submit" value="delete" class="submit">
    </form>
    <form action="/edit_message" method="post" style="display: inline-block;">
        <input type="hidden" value="{{message['id']}}" name="message_id">
        <input type="hidden" value="{{message['message']}}" name="original_message">
        <input type="submit" value="edit" class="submit">
    </form>
    {% endif %}
</div>
{% endfor %}
{% if page_number>1 %}
<form action="/previous_page" method="POST" style="display: inline-block;">
    <input type="submit" value="previous" class="submit">
</form>
{% endif %}
<form action="/next_page" method="POST" style="display: inline-block;">
    <input type="submit" value="next" class="submit">
</form>


{% endblock %}